<article>
  <h2 class="article_title">Welcome to BSDSec.net!</h2>
  <p>
    As the title says, this page aims to be <i>deadsimple BSD Security Advisories and Announcements</i>. 
    BSD refers to BSD family of Operating Systems.
    This is a hobby project to learn more about RoR, but I hope BSD sysadmins will find this website handy.
    Interested in more BSD news? Check out <%= link_to "DiscoverBSD.com", "http://DiscoverBSD.com" %>.
  </p>
  <p>You might want to follow BSDSec on <%= link_to "Twitter", "https://twitter.com/bsdsec" %>.
  <p>For more information please visit <%= link_to "GitHub page", "https://github.com/hovancik/BSDSec#readme" %> where you can find information such as: 
    <ul>
      <li>current status </i>
      <li>how to contribute</li>
      <li>how to provide feedback</li>
      <li>some technical details</li>
      <li>TO-DOS</li>
      <li>etc...</li>
    </ul>
  </p>
  <p>Ideas, criticism or any comments always welcome! </p>
  <h2 class="article_title">All of this...</h2>
  <p>All of this is possible thanks to <%= link_to "Koding.com", "https://koding.com/R/hovancik" %> and <%= link_to "Ninefold.com", "https://ninefold.com" %>. You are awesome!
</article>