<h2><%= @article.title.sub("[FreeBSD-Announce]","") %></h2>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p><%= simple_format(@article.body).html_safe %></p>
<p>from: <%= @article.from.sub("@","(at)") %> 
<p><%= link_to "<< Back to Articles List", articles_path %></p>