<% content_for :title, "BSDSec | #{art_title(@article.title)}" %>
<article>
  <h2 class="article_title"><%= art_title(@article.title) %>
  <%= link_to fa_icon('comments-o'), "https://reddit.com/r/bsdsec", title: "Comment on reddit", class: "comment" %>
  </h2>
  <p class="article_info">
    <%= art_date(@article.created_at)%> by <%= art_mail(@article.from) %> | 
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </p>
  <pre><%= art_body(@article.body) %></pre>
</article>