<% content_for :meta do %>
  <!-- Search Engine -->
  <meta name="description" content="Deadsimple BSD Security Advisories and Announcements">
  <meta name="image" content="<%= motif_image_url %>">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="BSDSec | <%= @tag.name %>">
  <meta itemprop="description" content="Deadsimple BSD Security Advisories and Announcements">
  <meta itemprop="image" content="<%= motif_image_url %>">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="BSDSec | <%= @tag.name %>">
  <meta name="twitter:description" content="Deadsimple BSD Security Advisories and Announcements">
  <meta name="twitter:site" content="https://bsdsec.net">
  <meta name="twitter:image" content="<%= motif_image_url %>">
  <!-- Twitter - Article -->
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="BSDSec | <%= @tag.name %>">
  <meta property="og:description" content="Deadsimple BSD Security Advisories and Announcements">
  <meta property="og:image" content="<%= motif_image_url %>">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= tag_url(@tag) %>">
<% end %>

<% content_for :title, "BSDSec | #{@tag.name}" %>

<% @articles.each do |article| %>
  <h2><span><%= art_date(article.created_at) %></span>
    <%= link_to art_title(article.title), article_path(article), title:art_title(article.title) %>
    <% article.tags.each do |tag| %>
      <span><%= link_to tag.name, tag_path(tag), title: "articles tagged with " + tag.name  %></span>
    <% end %>
  </h2>
<% end %>
<%= paginate @articles %>
