<!DOCTYPE html>
<html>
<head>
  <title>BSDSec</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<h1><%= link_to "BSDSec", root_path %> </h1>
deadsimple BSD Security Advisories and Announcements
</header>
<main>
<%= yield %>
</main>
<footer>
<p>ABOUT
<% tags.each do |tag| %>
  | <%= link_to tag.name.upcase, tag_path(tag) %>  
<% end %>  
 </p>
<p>made with &hearts; by <%= link_to "Jan Hovancik", "http://hovancik.net" %> </p>
</body>
</html>
