<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="flattr:id" content="en32oj">
  <meta property="og:image" content="<%= asset_pack_url 'media/images/bsdsec.png' %>" />
  <meta name="description" content="Deadsimple BSD Security Advisories and Announcements">
  <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= auto_discovery_link_tag(:rss, articles_url(:format => :atom)) %>
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.hovancik.net/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<body>
<header>

<h1 class="site_title"><%= link_to "BSDSec", root_path, title:"deadsimple BSD Security Advisories and Announcements" %> </h1>
<div class="social">
  <%= link_to "/articles.atom", class: "fa-lg", title: "Subscribe"  do %>
    <i class="fas fa-rss"></i>
  <% end %>
  <%= link_to "https://github.com/hovancik/BSDSec",class: "fa-lg",title: "fork me" do %>
    <i class="fab fa-github"></i>
  <% end %>
  <%= link_to "https://twitter.com/bsdsec", class: "fa-lg",title: "Twitter" do %>
    <i class="fab fa-twitter"></i>
  <% end %>
</div>
<p class="site_subtitle">deadsimple BSD Security Advisories and Announcements </p>
</header>
<main>
<%= yield %>
</main>
<footer>
<p>
  <% tags.each_with_index do |tag, i| %>
    <%= link_to tag.name.upcase, tag_path(tag),title: "articles tagged with " + tag.name %>
    <% if i < tags.length - 1 %>
      |
    <% end %>
  <% end %>
</p>
<p>made with &hearts; by <%= link_to "Jan Hovancik", "http://hovancik.net", title:"Website of Jan Hovancik" %> </p>
 <div class="social">
  <%= link_to "/articles.atom", title: "Subscribe" do %>
    <i class="fas fa-rss"></i>
  <% end %>
  <%= link_to "https://github.com/hovancik/BSDSec" ,title: "fork me" do %>
    <i class="fab fa-github"></i>
  <% end %>
  <%= link_to "https://twitter.com/bsdsec" ,title: "Twitter" do %>
    <i class="fab fa-twitter"></i>
  <% end %>
</div>
<div class="patreaon">
  <a href="https://www.patreon.com/bePatron?u=2449338" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</div>
</footer>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#edeff5",
        "text": "#838391"
      },
      "button": {
        "background": "#4b81e8"
      }
    },
    "theme": "classic",
    "position": "bottom-right"
  })});
</script>
<!-- End Cookie Consent plugin -->

</body>
</html>
